
@{
    ViewBag.Title = "Index";
}


<h2>Consultas de API's disponíveis</h2>
<br/>
<a href="/api/Servico/ListaClientes">Get Lista Todos Clientes Cadastrados</a>
<br />
<a href="/api/Servico/ConsultaCnpj/1234.1234.1234-2016">Get Consulta Por CNPJ</a>
<br />
<a href="/api/Servico/ConsultaDias/15">Get Consulta Por Dias Da Solicitação</a>
<br />
<a href="/api/Servico/ConsultaCnpjDias">Get Consulta Por CNPJ e Por Dias Da Solicitação</a>



