
@{
    ViewBag.Title = "Index";
}


<h2>Consultas de API's disponíveis</h2>
<br/>
<a href="/api/Servico/ListaClientes">Get Lista Todos Clientes Cadastrados</a>
<br />
<button class="btn btn-primary" id="btnTesteWebAPI"></button>
<a href="/api/Servico/ConsultaCnpj/1234.1234.1234-2016">Get Consulta Por CNPJ</a>
<br />
<a href="/api/Servico/ConsultaDias/15">Get Consulta Por Dias Da Solicitação</a>
<br />
<a href="/api/Servico/ConsultaCnpjDias">Get Consulta Por CNPJ e Por Dias Da Solicitação</a>


<script>
    $(function() {
        $('#btnTesteWebAPI').on('click', function() {
            var $btn = $(this).button('loading');
            $.ajax({
                url: 'http://localhost:35825/api/Servico/ConsultaCnpj',
                method: "POST",
                data: { 'Cnpj': "1234.1234.1234-2016" },
                statusCode: {
                    404: function(data) {
                        $('#outputWebApiTeste').text('HTTP StatuCode: ' + data.statusText + '\r\n' + data.responseText);
                        $btn.button('reset');
                    },
                    406: function(data) {
                        $('#outputWebApiTeste').text('HTTP StatuCode: ' + data.statusText + '\r\n' + data.responseText);
                        $btn.button('reset');
                    }
                },
                success: function(data) {
                    $('#outputWebApiTeste').text(data);
                    $btn.button('reset');
                }
            });
        });
    });
</script>



